<ion-content [fullscreen]="true">
  <ion-toolbar>
    <div class="f-title">
      <ion-title size="large"
        >Fans<span class="fanderful-color">.</span></ion-title
      >
    </div>
  </ion-toolbar>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none" color="primary">
    <ion-card *ngFor="let chat of chats" button routerLink="/inbox/chat">
      <ion-item detail>
        <ion-avatar slot="start">
          <img
            src="{{chat.img}}"
          />
        </ion-avatar>

        <ion-label>
          <h2 class="text-username">{{chat.username}}</h2>
          <p>{{chat.lastMsg}}</p>
        </ion-label>

        <ion-badge slot="end" color="primary" mode="ios">{{chat.unread}}</ion-badge>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
