.login-back-button {
  position: absolute;
  left: 15px;
  top: 20px;
  z-index: 100;
  color: #ffffff;
}

#background {
  z-index: -100;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #212529;
}

.all-container {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    // padding-top: 20%;
    // row-gap: 50px;
    .top-container {
      width: 100%;
      margin-bottom: 80%;
      .logo-container {
        width: 85%;
        .logotype {
          width: 100%;
          height: auto;
        }
      }
      .form-login {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        .errors {
          margin-left: 5px;
          span {
            font-size: 12px;
          }
        }
        .credentials {
          align-self: center;
          width: 100%;
          height: 50px;
          border-style: solid;
          border-width: 2px;
          border-radius: 10px;
          margin-top: 15px;
        }
        ion-input {
          --padding-start: 15px;
          --padding-end: 15px;
          height: 100%;
        }
        p {
          align-self: center;
          width: 90%;
          font-size: 12px;
          margin: 0;
          font-weight: 500;
          text-align: center;
          color: #75787a;
          margin-top: 15px;
        }
      }
    }
  }
  ion-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    ion-button {
      --border-radius: 10px;
      font-size: 20px;
      width: 100%;
      height: 50px;
    }
    #signin {
      font-weight: 600;
      --border-color: #ff7f34;
      color: #ffffff;
      --background: #ff7f34;
    }
  }
}
