<ion-content [fullscreen]="true">
  <ion-toolbar>
    <div class="f-title">
      <ion-title size="large"
        >discover<span class="fanderful-color">.</span></ion-title
      >
    </div>
  </ion-toolbar>

  <ion-card
    class="news-card"
    button
    (click)="goToRelated(noticia)"
    *ngFor="let noticia of noticias | slice:0:1; let i = index"
  >
    <div class="img-container" *ngIf="noticia.urlToImage">
      <img [src]="noticia.urlToImage" />
    </div>
    <ion-card-header>
      <ion-card-subtitle
        >{{ i + 1 }}. {{ noticia.source.name }}</ion-card-subtitle
      >
      <ion-card-title>{{ noticia.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ noticia.content }}
    </ion-card-content>
  </ion-card>

  <ion-card
    class="news"
    button
    (click)="goToRelated(noticia)"
    *ngFor="let noticia of noticias | slice:1:20; let i = index"
  >
    <ion-item lines="none" color="tertiary" class="fan-item">
      <div class="info">
        <div class="container">
          <div class="description">
            <p class="headline">
              {{ noticia.title }}
            </p>
            <ion-card-subtitle
              >{{ i + 2 }}. {{ noticia.source.name }}</ion-card-subtitle
            >
          </div>
          <ion-thumbnail class="img-container" *ngIf="noticia.urlToImage">
            <ion-img [src]="noticia.urlToImage"></ion-img>
          </ion-thumbnail>
        </div>
      </div>
    </ion-item>
  </ion-card>

  <!-- <ion-card class="news" button>
    <div class="info">
      <div class="container">
        <div class="description">
          <p class="headline">
            Encanto ya es descrita como una franquica por el CEO de Disney
          </p>
          <ion-card-subtitle>Películas</ion-card-subtitle>
        </div>
        <ion-thumbnail class="img-container">
          <ion-img
            src="https://www.latercera.com/resizer/HeW0ByvfGLhtZtRfwpRisA0SzkQ=/900x600/filters:focal(715x159:725x149)/cloudfront-us-east-1.images.arcpublishing.com/copesa/UYH7PXZFUVG4FHIAUUQVNOUGYM.jpg"
          ></ion-img>
        </ion-thumbnail>
      </div>
    </div>
  </ion-card>

  <ion-card class="news" button>
    <div class="info">
      <div class="container">
        <div class="description">
          <p class="headline">
            Una pequeña metropoli
          </p>
          <ion-card-subtitle>Lugares</ion-card-subtitle>
        </div>
      </div>
      <ion-thumbnail class="img-container">
        <ion-img
          src="https://imagenes.expreso.ec/files/image_700_402/uploads/2022/02/26/621ab397c9a90.jpeg"
        ></ion-img>
      </ion-thumbnail>
    </div>
  </ion-card>

  <ion-card class="news" button>
    <div class="info">
      <div class="container">
        <div class="description">
          <p class="headline">
            Ni Belle, ni Josee, el tigre y los peces ni nada; el anime se queda
            fuera de los Oscar 2022
          </p>
          <ion-card-subtitle>Anime</ion-card-subtitle>
        </div>
        <ion-thumbnail class="img-container">
          <ion-img
            src="https://areajugones.sport.es/wp-content/uploads/2022/02/belle-josee-oscars-no-anime-1080x609.jpg.webp"
          ></ion-img>
        </ion-thumbnail>
      </div>
    </div>
  </ion-card> -->
</ion-content>
