<ion-content [fullscreen]="true">
  <ion-toolbar>
    <div class="f-title">
      <ion-title size="large"
        >search<span class="fanderful-color">.</span></ion-title
      >
    </div>
  </ion-toolbar>
  <ion-searchbar
    placeholder="everything you like..."
    inputmode="text"
    animated
    (ionChange)="onSearchChange( $event )"
    debounce="250"
  ></ion-searchbar>
  <ion-select
    placeholder="movies"
    interface="popover"
    [value]="seleccion"
    (ionChange)="cambioCategoria($event)"
  >
    <ion-select-option *ngFor="let type of categorias" [value]="type"
      >{{type[0].toUpperCase() + type.slice(1)}}</ion-select-option
    >
  </ion-select>

  <div class="history" *ngIf="tmbdDisplay">
    <ion-card class="content" *ngFor="let content of searchedTMDB" button>
      <ion-item lines="none" color="tertiary" class="fan-item">
        <div class="info">
          <div class="container">
            <ion-thumbnail
              class="img-container"
              tappable
              (click)="openDetails(content, 'tmbd')"
            >
              <ion-img
                [src]="content.poster_path != null ? 'https://image.tmdb.org/t/p/w500' + content.poster_path : 'assets/img/not-found.png'"
              ></ion-img>
            </ion-thumbnail>
            <div
              class="description"
              tappable
              (click)="openDetails(content, 'tmbd')"
            >
              <div class="title">
                {{content.title ? content.title : content.name}}
              </div>
              <div class="type">
                {{content.media_type[0].toUpperCase() +
                content.media_type.slice(1).toLowerCase()}}
              </div>
              <!-- <div class="genre">{{movie.producer}}</div> -->
              <div class="year">
                {{content.release_date ? content.release_date :
                content.first_air_date}}
              </div>
            </div>
          </div>
          <ion-buttons class="button-container">
            <ion-button
              class="ent-buttons primary-button"
              (click)="openPlaylistModal(content, 'tmbd')"
            >
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-item>
    </ion-card>
  </div>

  <div class="content-ranking" *ngIf="gameDisplay">
    <ion-card
      *ngFor="let content of searchedGames; let i = index;"
      class="content"
      button
    >
      <ion-item lines="none" color="tertiary" class="fan-item">
        <div class="info">
          <div class="container">
            <ion-thumbnail
              class="img-container"
              tappable
              (click)="openDetails(content, 'Videogame')"
            >
              <ion-img [src]="content.background_image"></ion-img>
            </ion-thumbnail>
            <div
              class="description"
              tappable
              (click)="openDetails(content, 'Videogame')"
            >
              <div class="title">
                {{content.name}}
              </div>
              <div class="type">
                Videogame
              </div>
              <!-- <div class="genre">{{movie.producer}}</div> -->
              <div class="year">
                {{content.released.substr(0, 4)}}
              </div>
            </div>
          </div>
          <ion-buttons class="button-container">
            <!-- <ion-button
              class="ent-buttons secondary-button"
              (click)="openShareModal()"
            >
              <ion-icon
                class="share"
                slot="icon-only"
                name="share-outline"
              ></ion-icon>
            </ion-button> -->
            <ion-button
              class="ent-buttons primary-button"
              (click)="openPlaylistModal(content, 'Videogame')"
            >
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
