<ion-content>
  <div class="add-head">
    <ion-buttons class="button-container">
      <ion-button
        class="modal-buttons transparent-button"
        fill="clear"
        (click)="dismiss()"
        shape="round"
      >
        <ion-icon
          class="share"
          slot="icon-only"
          name="chevron-back-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

    <p class="modal-title">añadir a playlist</p>
  </div>

  <ion-card
    class="playlist"
    button
    *ngFor="let playlist of playlists"
    (click)="addContentToThisPlaylist(playlist.pid)"
  >
    <ion-item lines="none" color="tertiary" class="fan-item">
      <div class="info">
        <div class="container">
          <ion-thumbnail class="img-container">
            <ion-img
              [src]="playlist.pimg != null ? playlist.pimg : 'assets/img/not-found.png'"
            ></ion-img>
          </ion-thumbnail>
          <div class="description">
            <div class="title">{{playlist.pname}}</div>
            <div class="type">{{playlist.ptype}} Playlist</div>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-card>
</ion-content>
