<ion-content [fullscreen]="true">
  <ion-toolbar>
    <div class="f-title">
      <ion-title size="large"
        >rankings<span class="fanderful-color">.</span></ion-title
      >
    </div>
  </ion-toolbar>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment value="Contenido">
    <ion-segment-button value="Contenido">
      <ion-label>contenido</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Playlists">
      <ion-label>playlists</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-select placeholder="Todo" interface="popover">
    <ion-select-option value="todo">Todo</ion-select-option>
    <ion-select-option value="anime">Anime</ion-select-option>
    <ion-select-option value="peliculas">Peliculas</ion-select-option>
    <ion-select-option value="TV">Series de TV</ion-select-option>
    <ion-select-option value="VG">Videojuegos</ion-select-option>
    <ion-select-option value="lugares">Lugares</ion-select-option>
  </ion-select>

  <div class="content-ranking">
    <ion-card class="content" button>
      <div class="info">
        <div class="container">
          <ion-thumbnail
            class="img-container"
            tappable
            routerLink="/playlists/content"
          >
            <ion-img
              src="https://i.pinimg.com/236x/84/ad/07/84ad07dfc05d24769cf0036f5bf87f9c.jpg"
            ></ion-img>
          </ion-thumbnail>
          <div class="rank" tappable routerLink="/playlists/content">
            <div class="rank-number">1</div>
          </div>
          <div class="description" tappable routerLink="/playlists/content">
            <div class="title">Enredados</div>
            <div class="type">Películas</div>
            <div class="genre">Infantil</div>
            <div class="year">2010</div>
          </div>
        </div>
        <ion-buttons class="button-container">
          <ion-button
            class="ent-buttons secondary-button"
            (click)="openShareModal()"
          >
            <ion-icon
              class="share"
              slot="icon-only"
              name="share-outline"
            ></ion-icon>
          </ion-button>
          <ion-button
            class="ent-buttons primary-button"
            (click)="openPlaylistModal()"
          >
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-card>

    <ion-card class="content" button>
      <div class="info">
        <div class="container">
          <ion-thumbnail
            class="img-container"
            tappable
            routerLink="/playlists/content"
          >
            <ion-img
              src="https://i.pinimg.com/236x/f1/f8/a3/f1f8a379757629d03754596e5312ed72.jpg"
            ></ion-img>
          </ion-thumbnail>
          <div class="rank" tappable routerLink="/playlists/content">
            <div class="rank-number">2</div>
          </div>
          <div class="description" tappable routerLink="/playlists/content">
            <div class="title">Angry Birds</div>
            <div class="type">Series</div>
            <div class="genre">Comedia</div>
            <div class="year">2016</div>
          </div>
        </div>
        <ion-buttons class="button-container">
          <ion-button
            class="ent-buttons secondary-button"
            (click)="openShareModal()"
          >
            <ion-icon
              class="share"
              slot="icon-only"
              name="share-outline"
            ></ion-icon>
          </ion-button>
          <ion-button
            class="ent-buttons primary-button"
            (click)="openPlaylistModal()"
          >
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-card>

    <ion-card class="location" button>
      <div class="info">
        <div class="container">
          <ion-thumbnail
            class="img-container"
            tappable
            routerLink="/playlists/location"
          >
            <ion-img
              src="https://i.pinimg.com/236x/37/28/5a/37285a0a7d3356e593ddc978a66de38f.jpg"
            ></ion-img>
          </ion-thumbnail>
          <div class="rank" tappable routerLink="/playlists/location">
            <div class="rank-number">3</div>
          </div>
          <div class="description" tappable routerLink="/playlists/location">
            <div class="title">La llorona</div>
            <div class="type">Lugares</div>
            <div class="genre">México</div>
          </div>
        </div>
        <ion-buttons class="button-container">
          <ion-button
            class="ent-buttons secondary-button"
            (click)="openShareModal()"
          >
            <ion-icon
              class="share"
              slot="icon-only"
              name="share-outline"
            ></ion-icon>
          </ion-button>
          <ion-button
            class="ent-buttons primary-button"
            (click)="openPlaylistModal()"
          >
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-card>

    <ion-card class="content" button>
      <div class="info">
        <div class="container">
          <ion-thumbnail
            class="img-container"
            tappable
            routerLink="/playlists/content"
          >
            <ion-img
              src="https://i.pinimg.com/236x/4a/58/f1/4a58f1a05e6755411fa6bcbb8338cefc.jpg"
            ></ion-img>
          </ion-thumbnail>
          <div class="rank" tappable routerLink="/playlists/content">
            <div class="rank-number">4</div>
          </div>
          <div class="description" tappable routerLink="/playlists/content">
            <div class="title">One Piece</div>
            <div class="type">Anime</div>
            <div class="genre">Aventura</div>
            <div class="year">1999</div>
          </div>
        </div>
        <ion-buttons class="button-container">
          <ion-button
            class="ent-buttons secondary-button"
            (click)="openShareModal()"
          >
            <ion-icon
              class="share"
              slot="icon-only"
              name="share-outline"
            ></ion-icon>
          </ion-button>
          <ion-button
            class="ent-buttons primary-button"
            (click)="openPlaylistModal()"
          >
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-card>

    <ion-card class="content" button>
      <div class="info">
        <div class="container">
          <ion-thumbnail
            class="img-container"
            tappable
            routerLink="/playlists/content"
          >
            <ion-img
              src="https://i.pinimg.com/236x/07/90/c6/0790c600d5f8d4f6a8219a55ded405ee.jpg"
            ></ion-img>
          </ion-thumbnail>
          <div class="rank" tappable routerLink="/playlists/content">
            <div class="rank-number">5</div>
          </div>
          <div class="description" tappable routerLink="/playlists/content">
            <div class="title">Animal Crossing: New Horizons</div>
            <div class="type">Videojuegos</div>
            <div class="genre">Drama</div>
            <div class="year">2020</div>
          </div>
        </div>
        <ion-buttons class="button-container">
          <ion-button
            class="ent-buttons secondary-button"
            (click)="openShareModal()"
          >
            <ion-icon
              class="share"
              slot="icon-only"
              name="share-outline"
            ></ion-icon>
          </ion-button>
          <ion-button
            class="ent-buttons primary-button"
            (click)="openPlaylistModal()"
          >
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-card>

    <ion-card class="content" button>
      <div class="info">
        <div class="container">
          <ion-thumbnail
            class="img-container"
            tappable
            routerLink="/playlists/content"
          >
            <ion-img
              src="https://i.pinimg.com/236x/ae/9e/3e/ae9e3ef36a431819bf3b0ba322f43b5a.jpg"
            ></ion-img>
          </ion-thumbnail>
          <div class="rank" tappable routerLink="/playlists/content">
            <div class="rank-number">6</div>
          </div>
          <div class="description" tappable routerLink="/playlists/content">
            <div class="title">Elden Ring</div>
            <div class="type">Videojuegos</div>
            <div class="genre">Acción</div>
            <div class="year">2022</div>
          </div>
        </div>
        <ion-buttons class="button-container">
          <ion-button
            class="ent-buttons secondary-button"
            (click)="openShareModal()"
          >
            <ion-icon
              class="share"
              slot="icon-only"
              name="share-outline"
            ></ion-icon>
          </ion-button>
          <ion-button
            class="ent-buttons primary-button"
            (click)="openPlaylistModal()"
          >
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-card>

    <ion-card class="content" button>
      <div class="info">
        <div class="container">
          <ion-thumbnail
            class="img-container"
            tappable
            routerLink="/playlists/content"
          >
            <ion-img
              src="https://i.pinimg.com/236x/ee/86/8d/ee868df34ad171af996b4576acbccd4e.jpg"
            ></ion-img>
          </ion-thumbnail>
          <div class="rank" tappable routerLink="/playlists/content">
            <div class="rank-number">6</div>
          </div>
          <div class="description" tappable routerLink="/playlists/content">
            <div class="title">Kakegurui</div>
            <div class="type">Anime</div>
            <div class="genre">Juego de apuestas</div>
            <div class="year">2017</div>
          </div>
        </div>
        <ion-buttons class="button-container">
          <ion-button
            class="ent-buttons secondary-button"
            (click)="openShareModal()"
          >
            <ion-icon
              class="share"
              slot="icon-only"
              name="share-outline"
            ></ion-icon>
          </ion-button>
          <ion-button
            class="ent-buttons primary-button"
            (click)="openPlaylistModal()"
          >
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-card>
  </div>
</ion-content>
