<ion-content [fullscreen]="true">
  <ion-back-button
    class="playlist-back-button"
    defaultHref="/"
    text=""
  ></ion-back-button>

  <div class="playlist-img-container">
    <ion-thumbnail>
      <img
        src="https://i.pinimg.com/236x/de/ec/2c/deec2cf78b786e8e9dfbe17877d61e71.jpg"
      />
    </ion-thumbnail>
    <div class="play-name">King Jorge Supremacy</div>
  </div>

  <div class="playlist-description">
    <div class="info">
      <div
        class="user-info"
        (click)="test()"
        tappable
        routerLink="/fan-profile"
      >
        <ion-thumbnail>
          <img
            src="https://i.pinimg.com/236x/7c/88/a0/7c88a07045fe75902096b6819ec5f62f.jpg"
          />
        </ion-thumbnail>
        <div class="username">clingyxbunny</div>
      </div>
      <div class="info-specific">
        <div class="type">Películas Playlist</div>
        <div *ngIf="contents" class="playlist-activity">1000 likes - {{contents.length}} items</div>
      </div>
    </div>
    <ion-buttons class="button-container">
      <ion-button
        class="ent-buttons secondary-button"
        (click)="openShareModal()"
      >
        <ion-icon
          class="share"
          slot="icon-only"
          name="share-outline"
        ></ion-icon>
      </ion-button>
      <ion-button
        class="ent-buttons primary-button"
        (click)="openCreateModal()"
      >
        <ion-icon
          class="create"
          slot="icon-only"
          name="create-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <ion-card *ngFor="let content of contents" class="content" button>
    <div class="info">
      <div class="container">
        <ion-thumbnail
          class="img-container"
          tappable
          routerLink="/playlists/content"
        >
          <ion-img
            src="{{content.contentImg}}"
          ></ion-img>
        </ion-thumbnail>
        <div class="description" tappable routerLink="/playlists/content">
          <div class="title">{{content.contentTitle}}</div>
          <div class="type">{{content.contentType}}</div>
          <div class="genre">{{content.contentGenre}}</div>
          <div class="year">{{content.contentYear}}</div>
        </div>
      </div>
      <ion-buttons class="button-container">
        <ion-button
          class="ent-buttons secondary-button"
          (click)="openShareModal()"
        >
          <ion-icon
            class="share"
            slot="icon-only"
            name="share-outline"
          ></ion-icon>
        </ion-button>
        <ion-button
          class="ent-buttons primary-button"
          (click)="openPlaylistModal()"
        >
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-card>
</ion-content>
