<ion-content [fullscreen]="true">
  <div class="pp-container">
    <ion-thumbnail>
      <img
        src="https://pbs.twimg.com/media/FMWgdknXsAEMLcr?format=jpg&name=small"
      />
    </ion-thumbnail>
  </div>

  <div class="prf-description">
    <div class="info">
      <div class="username">panecito.integral</div>
      <div class="desc-edit">
        <div *ngIf="playlists" class="count">{{playlists.length}} playlists</div>
        <ion-button
          class="edit-button"
          (click)="signOut()"
          fill="outline"
          shape="round"
          mode="ios"
          size="small"
          color="secondary"
        >
          log out
        </ion-button>
      </div>
    </div>
    <ion-buttons class="button-container">
      <ion-button
        class="ent-buttons secondary-button"
        (click)="openShareModal()"
      >
        <ion-icon
          class="share"
          slot="icon-only"
          name="share-outline"
        ></ion-icon>
      </ion-button>
      <ion-button
        class="ent-buttons primary-button"
        (click)="openCreateModal()"
      >
        <ion-icon class="add" slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <ion-card *ngFor="let playlist of playlists" class="playlist" button>
    <div class="info">
      <div class="container">
        <ion-thumbnail
          class="img-container"
          tappable
          routerLink="/playlists/playlist"
        >
          <ion-img
            src="{{playlist.pimg}}"
          ></ion-img>
        </ion-thumbnail>
        <div class="description" tappable routerLink="/playlists/playlist">
          <div class="title">{{playlist.pname}}</div>
          <div class="type">{{playlist.ptype}} Playlist</div>
          <div class="type">{{playlist.puser}}</div>
        </div>
      </div>
      <ion-buttons class="button-container">
        <ion-button
          class="ent-buttons secondary-button"
          (click)="openShareModal()"
        >
          <ion-icon
            class="share"
            slot="icon-only"
            name="share-outline"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-card>
</ion-content>
