<ion-content [fullscreen]="true">
  <div class="pp-container">
    <ion-thumbnail>
      <img
        src="{{
          userimg != null
            ? userimg
            : 'assets/img/not-found.png'
        }}"
      />
      <ion-label class="upload-label" for="upload">
        <input
          type="file"
          id="file"
          #userPhoto
          (change)="onFileSelected($event)"
          name="image"
          autocomplete="off"
        />
      </ion-label>
      <div id="animation">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
    </ion-thumbnail>
  </div>

  <div class="prf-description">
    <div class="info">
      <div class="username">{{username}}</div>
      <div class="desc-edit">
        <div *ngIf="playlists" class="count">
          {{playlists.length}} playlists
        </div>
        <ion-button
          class="edit-button"
          (click)="signOut()"
          fill="outline"
          shape="round"
          mode="ios"
          size="small"
          color="secondary"
        >
          log out
        </ion-button>
      </div>
    </div>
    <ion-buttons class="button-container">
      <!-- <ion-button
        class="ent-buttons secondary-button"
        (click)="openShareModal()"
      >
        <ion-icon
          class="share"
          slot="icon-only"
          name="share-outline"
        ></ion-icon>
      </ion-button> -->
      <ion-button
        class="ent-buttons primary-button"
        (click)="openCreateModal()"
      >
        <ion-icon class="add" slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <ion-card *ngFor="let playlist of playlists" class="playlist" button>
    <ion-item-sliding>
      <ion-item lines="none" color="tertiary" class="fan-item">
        <div class="info">
          <div class="container">
            <ion-thumbnail
              class="img-container"
              tappable
              (click)="openDetails(playlist)"
            >
              <ion-img
                [src]="playlist.pimg != null ? playlist.pimg : 'assets/img/not-found.png'"
              ></ion-img>
            </ion-thumbnail>
            <div class="description" tappable (click)="openDetails(playlist)">
              <div class="title">{{playlist.pname}}</div>
              <div class="type">{{playlist.ptype}} Playlist</div>
              <div class="type">· {{playlist.puser}}</div>
            </div>
          </div>
          <ion-buttons class="button-container">
            <!-- <ion-button
              class="ent-buttons secondary-button"
              (click)="openShareModal()"
            >
              <ion-icon
                class="share"
                slot="icon-only"
                name="share-outline"
              ></ion-icon>
            </ion-button> -->
          </ion-buttons>
        </div>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="presentDeleteAlert(playlist.pid)"
          >Delete</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>
</ion-content>
