<ion-content>
  <div class="share-head">
    <ion-buttons class="button-container">
      <ion-button
        class="modal-buttons transparent-button"
        fill="clear"
        (click)="dismiss()"
        shape="round"
      >
        <ion-icon
          class="back"
          slot="icon-only"
          name="chevron-back-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

    <p class="modal-title">compartir con...</p>
  </div>

  <ion-list class="recent-friends" lines="none">
    <ion-item *ngFor="let user of usersIHaveChatWith">
      <ion-thumbnail class="avatar-container" slot="start">
        <img
          src="{{chat.participants[0].img?chat.participants[0].img: 'https://i.pinimg.com/564x/b2/b5/bb/b2b5bbc60a653b5d586210175bab6070.jpg'}}"
        />
      </ion-thumbnail>
      <ion-label
        >{{chat.participants[0].username? chat.participants[0].username:
        chat.participants[0].email }}</ion-label
      >
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <!-- <ion-item>
      <ion-thumbnail class="avatar-container" slot="start">
        <img
          src="https://i.pinimg.com/236x/7c/88/a0/7c88a07045fe75902096b6819ec5f62f.jpg"
        />
      </ion-thumbnail>
      <ion-label>clingyxbunny</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-thumbnail class="avatar-container" slot="start">
        <img
          src="https://i.pinimg.com/236x/8a/bc/83/8abc83595ae3b4bf21f2783a90b968f0.jpg"
        />
      </ion-thumbnail>
      <ion-label>_peachxbaby</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-thumbnail class="avatar-container" slot="start">
        <img
          src="https://i.pinimg.com/236x/1a/ae/a7/1aaea7b2065a5caec5d556c67bf638e6.jpg"
        />
      </ion-thumbnail>
      <ion-label>panecito.integral</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-thumbnail class="avatar-container" slot="start">
        <img
          src="https://i.pinimg.com/236x/a7/78/ff/a778ff15d07a279bc6c462b2cf3898e2.jpg"
        />
      </ion-thumbnail>
      <ion-label>nikevoTM</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-thumbnail class="avatar-container" slot="start">
        <img
          src="https://i.pinimg.com/236x/01/ff/aa/01ffaa6df45088a48e2aa028c56fe1d9.jpg"
        />
      </ion-thumbnail>
      <ion-label>marr.diiii</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-thumbnail class="avatar-container" slot="start">
        <img
          src="https://i.pinimg.com/236x/60/bc/00/60bc004177323f3ec8c9184421f53cc4.jpg"
        />
      </ion-thumbnail>
      <ion-label>mylove.forFrdy</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-thumbnail class="avatar-container" slot="start">
        <img
          src="https://i.pinimg.com/236x/43/28/66/43286687e9495e61c4645d1e750e7bdc.jpg"
        />
      </ion-thumbnail>
      <ion-label>bbyMyPhone</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-thumbnail class="avatar-container" slot="start">
        <img
          src="https://i.pinimg.com/236x/49/c3/88/49c3882e655da00e460ff81641ebbf7e.jpg"
        />
      </ion-thumbnail>
      <ion-label>anna19379</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-thumbnail class="avatar-container" slot="start">
        <img
          src="https://media.vandal.net/i/1280x720/3-2022/20223818171897_1.jpg.webp"
        />
      </ion-thumbnail>
      <ion-label>duwu.dewe</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-thumbnail class="avatar-container" slot="start">
        <img
          src="https://media.vandal.net/i/1280x720/3-2022/20223818171897_1.jpg.webp"
        />
      </ion-thumbnail>
      <ion-label>username</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-thumbnail class="avatar-container" slot="start">
        <img
          src="https://media.vandal.net/i/1280x720/3-2022/20223818171897_1.jpg.webp"
        />
      </ion-thumbnail>
      <ion-label>username</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-thumbnail class="avatar-container" slot="start">
        <img
          src="https://media.vandal.net/i/1280x720/3-2022/20223818171897_1.jpg.webp"
        />
      </ion-thumbnail>
      <ion-label>username</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item> -->
  </ion-list>
  <ion-button
    (click)="dismiss()"
    expand="block"
    color="primary"
    class="send-button"
  >
    ¡crear!
  </ion-button>
</ion-content>
